<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center text-md-left">
            <h4 class="mb-0">Artist Name</h4>
            <span class="d-block mt-3">
                <i class="fa fa-mobile fa-fw fa-lg" aria-hidden="true"></i>
                937 373 213
            </span>
            <span class="d-block mt-3">
                <i class="fa fa-envelope fa-fw fa-lg" aria-hidden="true"></i>
                <a href="mailto:email@email.com">
                    email@email.com
                </a>
            </span>
        </div>
        <div class="col-md-6 col-sm-6 mt-3 mt-sm-0">
            <ul>
                <li class="nav-item {{this.page.BaseFileName == 'home' ? 'active-item'}} ">
                    <a class="nav-link" href="{{'home'|page}}">
                        {{'Home'|_}}
                    </a>
                </li> 
                <li class="nav-item {{this.page.BaseFileName == 'gallery' ? 'active-item'}} ">
                    <a class="nav-link" href="{{'gallery'|page}}">
                        {{'Gallery'|_}}
                    </a>
                </li> 
                <li class="nav-item {{this.page.BaseFileName == 'about-artist' ? 'active-item'}}">
                    <a class="nav-link" href="{{'about-artist'|page}}">
                        {{'About Artist'|_}}
                    </a>
                </li>
                <li class="nav-item {{this.page.BaseFileName == 'contacts' ? 'active-item'}}">
                    <a class="nav-link" href="{{'contacts'|page}}">
                        {{'Contacts'|_}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-12 mt-4 mt-md-0 text-center text-md-right">
            <h5 class="mb-0">
                Social Links
            </h5>
            <div class="social_box mt-3">
                <a href="">
                    <i class="fa fa-facebook-official fa-fw fa-lg" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram fa-fw fa-lg" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube-play fa-fw fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>