<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div>Artist Name</div>
            <span>
                673 12 Constitution Lane Massillion
                <br>
                781-562-9355, 781-727-6090
                <br>
                Copyright © Qode Interactive 2019
            </span>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    Home
                </li>
                <li>
                    Gallery
                </li>
                <li>
                    About
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-right">
            Social Links
        </div>
    </div>
</div>