<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{'home'|page}}">
        GemeosArt
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown {{this.page.BaseFileName == 'gallery' ? 'active-item'}} {{this.page.BaseFileName == 'gallery-new-art' ? 'active-item'}}">
                <a class="nav-link dropdown-toggle" href="#" id="galleryDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{'Gallery'|_}}
                </a>
                <div class="dropdown-menu" aria-labelledby="galleryDrop">
                    <a class="dropdown-item {{this.page.BaseFileName == 'gallery-new-art' ? 'dropdown-item--active'}}" href="{{'gallery-new-art'|page}}">New Art works</a>
                    <a class="dropdown-item {{this.page.BaseFileName == 'gallery' ? 'dropdown-item--active'}}" href="{{'gallery'|page}}">All works</a>
                </div>
            </li>

            <li class="nav-item {{this.page.BaseFileName == 'about-artist' ? 'active-item'}}">
                <a class="nav-link" href="{{'about-artist'|page}}">
                    {{'About Artist'|_}}
                </a>
            </li>
            {% if false %}
                <li class="nav-item {{this.page.BaseFileName == 'blog-list' ? 'active-item'}}">
                    <a class="nav-link" href="{{'blog-list'|page}}">
                        {{'Blog'|_}}
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav navbar_social ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link mr-3" target="_blank" href="https://www.facebook.com/edward.yov">
                    <i class="fa fa-facebook-official fa-fw fa-lg" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <!-- Language -->
        {% component  'localePicker' %}
    </div>
  </nav>
