{% for record in records %}
{% partial 'gallery/item' product = record %}
{% else %}
<h1 class="no-data">{{ noRecordsMessage }}</h1>
{% endfor %}

{% if records.lastPage > 1 %}
<nav class="col-12 teste d-flex justify-content-center my-5">
    <ul class="pagination">
        {% if records.currentPage > 1 %}
        <li class="page-item">
            <a class="page-link"
               href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}"
               aria-label="Previous">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            {% if records.currentPage == page %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page }}
                    </span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">
                        {{ page }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
        <li class="page-item">
            <a class="page-link"
               href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}"
               aria-label="Next">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

