.banner {
    width: 100%;
    min-height: 230px;
    background-attachment: fixed;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: $gold;

    @media screen and (max-width: 992px) {
        background-attachment: local;
        background-size: auto 200px;
        background-position: center;
        height: auto;
        min-height: 200px;
    }
}
