.contacts_box {
    border: 1px solid;
    border-color: $gold;
    padding: 15px;

    .form-group{
        label {
            color: $blue;
            font-weight: bold;
        }

        .form-control{
            outline: 0 !important;
            box-shadow: none;
            border-color: $gold;
            resize: none;
            border-radius: 0;

    background-color: $gold;
        }
    }

    .btn{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid $gold;
        color: #fff;
        background-color: $gold;
        display: inline-block;
        padding: 12px 17px 10px;
        margin-top: 15px;
        letter-spacing: 1px;
        transition: all .5s;
        border-radius: 0;

        &:hover {
            background-color: $white;
            color: $gold;
        }
    }
}
