footer {
  background-color: $blue;
  color: $white;
  padding: 35px;

  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }

  .nav-link {
    color: $white !important;
    text-transform: none;
  }

  .social_box {
    a {
      &:hover {
        color: $gold;
      }
    }
  }
}
