.navbar {
    padding: 15px 35px;
    z-index: 10;
    background-image: linear-gradient(rgba($gold, .2), transparent);

    @media screen and (max-width: 992px) {
        background-color: $gold;
        background-image: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    &.home_nav {
        background-color: #c9ab81;
        .dropdown.show {
            .nav-link { 
                color: $gold !important;

                &::before {
                    width: 100% !important;
                    background-color: $white !important;

                    @media screen and (max-width: 992px) {
                        background-color: $white;
                    }
                }
            }
        }
        .nav-link {
            &:hover {
                color: $gold !important;
            }
            &::before {
                background-color: $white;
            }
        }

        .nav_lang {
            .nav-item.active {
                .nav-link {
                        color: $gold !important;

                    &::before {
                        background-color: $white !important;
                    }
                }
            }
        }
    }

    .navbar-brand {
        color: $white !important;
    }

    .navbar-toggler {
        background-color: #e7d9c6;
    }

    &-collapse {
        margin-left: 50px;
        
        @media screen and (max-width: 992px) {
            margin-left: 0;
        }
    }
}

.nav {
    &-item {
        @media screen and (max-width: 992px) {
            text-align: center;
        }
        &.show {
            .nav-link { 
                @media screen and (max-width: 992px) {
                    color: $gold !important;
                }

                &::before {
                    width: 100%;
                    background-color: $gold;

                    @media screen and (max-width: 992px) {
                        background-color: $white;
                    }
                }
            }
        }
        &.active-item {
            .nav-link { 
                @media screen and (max-width: 992px) {
                    color: $gold !important;
                }

                &::before {
                    width: 100%;
                    background-color: $gold;

                    @media screen and (max-width: 992px) {
                        background-color: $white;
                    }
                }
            }
        }
        .dropdown-menu {
            .dropdown-item {
                &:active {
                    background-color: $gold !important;
                    color: $white;
                }
                &.dropdown-item--active {
                    background-color: $gold !important;
                    color: $white;
                }
            }
        }
    }
    &-link {
        color: $white !important;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        margin: 0 5px;
        font-size: 14px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            z-index: -1;
            transition: all .3s ease-in-out;
        }

        &:hover {
            &::before {
                background-color: $gold;
                width: 100%;
            }
        }
    }
}

.nav_lang {
    @media screen and (max-width: 992px) {
        flex-direction: row;
        justify-content: center;
    }

    .nav-item {
        .nav-link {
            @media screen and (max-width: 992px) {
                padding: 10px;
            }
        }
        &.active {
            .nav-link {
                @media screen and (max-width: 992px) {
                    color: $gold !important;
                }
                &::before {
                    width: 100%;
                    background-color: $gold;

                    @media screen and (max-width: 992px) {
                        background-color: $white;
                    }
                }
            }
        }
    }
}

.navbar_social {
    border-right: 1px solid $white;
}