@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&display=swap");
*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 16px; }

.overflow-body {
  overflow: hidden; }

img {
  max-width: 100%; }

.title {
  color: #525252; }

.title_box {
  text-align: center; }
  .title_box .title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    display: block; }
    .title_box .title span {
      display: inline-block;
      padding: 0 40px;
      color: #525252;
      background-color: #fff; }
    .title_box .title::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      max-width: 600px;
      height: 1px;
      background-color: #c9ab81;
      z-index: -1; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: inherit; }

section {
  margin-top: -110px; }

.g-btn {
  display: inline-block;
  background-color: #c9ab81;
  color: #fff;
  border: 1px solid #c9ab81;
  padding: 5px 30px;
  font-size: 19px;
  position: relative;
  transition: all .3s ease-in-out;
  z-index: 1;
  border-radius: 0;
  box-shadow: 1px 3px 3px 0px #c9ab81; }
  .g-btn:hover {
    background-color: #fff;
    color: #c9ab81; }

.img_box_scale {
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  position: relative; }
  .img_box_scale:hover img {
    transform: scale(1.1); }
  .img_box_scale img {
    transition: all .3s ease-in-out; }

.navbar {
  padding: 15px 35px;
  z-index: 10;
  background-image: linear-gradient(rgba(201, 171, 129, 0.2), transparent); }
  @media screen and (max-width: 992px) {
    .navbar {
      background-color: #c9ab81;
      background-image: none; } }
  .navbar .navbar-brand {
    color: #fff !important; }
  .navbar .navbar-toggler {
    background-color: #fff; }
  .navbar-collapse {
    margin-left: 50px; }
    @media screen and (max-width: 992px) {
      .navbar-collapse {
        margin-left: 0;
        margin-top: 15px; } }

@media screen and (max-width: 992px) {
  .nav-item {
    text-align: center; } }
@media screen and (max-width: 992px) {
  .nav-item.show .nav-link {
    color: #c9ab81 !important; } }
.nav-item.show .nav-link::before {
  width: 100%;
  background-color: #c9ab81; }
  @media screen and (max-width: 992px) {
    .nav-item.show .nav-link::before {
      background-color: #fff; } }
@media screen and (max-width: 992px) {
  .nav-item.active-item .nav-link {
    color: #c9ab81 !important; } }
.nav-item.active-item .nav-link::before {
  width: 100%;
  background-color: #c9ab81; }
  @media screen and (max-width: 992px) {
    .nav-item.active-item .nav-link::before {
      background-color: #fff; } }
.nav-item .dropdown-menu .dropdown-item:active {
  background-color: #c9ab81 !important;
  color: #fff; }
.nav-item .dropdown-menu .dropdown-item.dropdown-item--active {
  background-color: #c9ab81 !important;
  color: #fff; }
.nav-link {
  color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin: 0 5px;
  font-size: 14px; }
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all .3s ease-in-out; }
  .nav-link:hover::before {
    background-color: #c9ab81;
    width: 100%; }

@media screen and (max-width: 992px) {
  .nav_lang {
    flex-direction: row;
    justify-content: center;
    margin-top: 15px; } }
@media screen and (max-width: 992px) {
  .nav_lang .nav-item .nav-link {
    padding: 10px; } }
@media screen and (max-width: 992px) {
  .nav_lang .nav-item.active .nav-link {
    color: #c9ab81 !important; } }
.nav_lang .nav-item.active .nav-link::before {
  width: 100%;
  background-color: #c9ab81; }
  @media screen and (max-width: 992px) {
    .nav_lang .nav-item.active .nav-link::before {
      background-color: #fff; } }

.navbar_social {
  border-right: 1px solid #fff; }

.banner {
  width: 100%;
  height: 55vh;
  min-height: 360px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  background-color: #c9ab81;
  color: #fff;
  padding: 35px; }
  @media screen and (min-width: 992px) {
    footer ul {
      display: flex;
      justify-content: space-around; } }
  footer ul .nav-item .nav-link {
    z-index: 1; }
    footer ul .nav-item .nav-link:hover {
      color: #c9ab81 !important; }
      footer ul .nav-item .nav-link:hover::before {
        background-color: #fff; }
  footer ul .nav-item.active-item .nav-link {
    color: #c9ab81 !important; }
    footer ul .nav-item.active-item .nav-link::before {
      background-color: #fff; }

.card_item {
  position: relative;
  cursor: pointer; }
  .card_item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    z-index: -1;
    transition: all .3s ease-in-out; }
  .card_item:hover .card_item_img_box .card_item_img {
    transform: scale(1.1); }
  .card_item:hover .card_item_title {
    color: #fff; }
  .card_item:hover .card_item_desc {
    color: #fff; }
  .card_item:hover .card_item_btn {
    background-color: #fff;
    color: #c9ab81; }
  .card_item:hover::before {
    background-color: #c9ab81;
    width: 100%; }
  .card_item_img_box {
    height: 400px;
    position: relative; }
    .card_item_img_box span {
      position: absolute;
      left: 15px;
      top: 15px;
      background-color: #c9ab81;
      color: #fff;
      z-index: 11;
      padding: 3px 10px; }
  .card_item_img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    background-image: url("../../assets/img/preloader/Squared.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .card_item_text_content {
    padding: 0 10px 15px; }
  .card_item_title {
    color: #525252; }
  .card_item_desc {
    color: #525252;
    font-family: 'Alegreya Sans', sans-serif; }
  .card_item_btn {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none !important;
    border: 1px solid #c9ab81;
    color: #fff;
    background-color: #c9ab81;
    display: inline-block;
    padding: 12px 17px 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    transition: all .5s; }

.painting_title {
  color: #525252; }
.painting .img_box img {
  width: 100%; }
.painting_text_content p {
  color: #525252; }

.slideshow_btn {
  cursor: pointer; }

.gallery_slideshow {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000e0;
  z-index: 0;
  transition: all .5s ease-in-out;
  opacity: 0; }
  .gallery_slideshow.gallery_slideshow--show {
    top: 0;
    opacity: 1;
    z-index: 100; }
  .gallery_slideshow--btn {
    position: absolute;
    background-color: #c9ab81;
    color: #fff;
    right: 15px;
    top: 15px;
    font-size: 30px;
    padding: 0px 10px;
    z-index: 9; }
    @media screen and (max-width: 992px) {
      .gallery_slideshow--btn {
        font-size: 19px; } }
  .gallery_slideshow_box {
    width: 80vw;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .gallery_slideshow_box {
        width: 100vw; } }
    .gallery_slideshow_box_content {
      width: 100%; }
      .gallery_slideshow_box_content_item {
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 100vh !important; }
        .gallery_slideshow_box_content_item img {
          max-width: 100% !important;
          max-height: calc(100vh - 40px);
          width: auto !important; }

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  font-size: 60px;
  background-color: #c9ab81;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  padding: 3px 24px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 992px) {
    .slick-arrow {
      font-size: 35px;
      padding: 0 12px; } }
  .slick-arrow.slick-prev {
    left: 0; }
  .slick-arrow.slick-next {
    right: 0; }

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutUp {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.contacts_box {
  border: 1px solid;
  border-color: #c9ab81;
  padding: 15px; }
  .contacts_box .form-group label {
    color: #525252;
    font-weight: bold; }
  .contacts_box .form-group .form-control {
    outline: 0 !important;
    box-shadow: none;
    border-color: #c9ab81;
    resize: none;
    border-radius: 0;
    background-color: #c9ab8159; }
  .contacts_box .btn {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #c9ab81;
    color: #fff;
    background-color: #c9ab81;
    display: inline-block;
    padding: 12px 17px 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    transition: all .5s;
    border-radius: 0; }
    .contacts_box .btn:hover {
      background-color: #fff;
      color: #c9ab81; }

.about .img_artist {
  max-width: 450px;
  width: 100%; }
.about .img_gerb {
  width: 90px; }
.about p {
  font-size: 19px; }

/*# sourceMappingURL=style.css.map */
