*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #1A323B;
}

.overflow-body {
  overflow: hidden;
}

.background_color {
  position: relative;
  overflow: hidden;
}
.background_color::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #eeee;
  z-index: -5;
  animation-name: backAnimation;
  animation-duration: 1s;
}
.background_color.gallery::after {
  right: 0;
  -webkit-clip-path: polygon(76% 0, 100% 0, 100% 100%, 24% 100%);
  clip-path: polygon(76% 0, 100% 0, 100% 100%, 24% 100%);
}
.background_color.paiting::after {
  left: 0;
  clip-path: polygon(0% 0, 24% 0, 76% 100%, 0% 100%);
}
@keyframes backAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

.title {
  color: #1A323B;
  font-family: "EB Garamond", serif;
}

.title_box {
  text-align: center;
}
.title_box .title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  display: block;
}
.title_box .title span {
  display: inline-block;
  padding: 0 40px;
  color: #1A323B;
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .title_box .title span {
    font-size: 25px;
  }
}
.title_box .title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 1px;
  background-color: #1A323B;
  z-index: -1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.g-btn {
  display: inline-block;
  font-size: 19px;
  position: relative;
  z-index: 1;
  border-radius: 0;
}
.g-btn:hover span {
  transform: translate(0);
}
.g-btn span {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 100%;
  padding: 5px 30px;
  color: #fff;
  background-color: #1A323B;
  box-shadow: 1px 3px 3px 0 #FFB63B;
  transform: translate(10px, 10px);
}
.g-btn::before {
  content: "";
  border: 1px solid #FFB63B;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .g-btn {
    font-size: 15px;
  }
}
.g-btn:hover {
  background-color: #fff;
  color: #FFB63B;
}

.logo_box {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo_box.footer {
  background-color: #fff;
  padding: 10px;
}
.logo_box.footer .logo_box_name span {
  color: #FFB63B;
  font-size: 35px;
}
.logo_box.footer .logo_box_name span:first-child {
  transform: translate(16%, -7px);
}
.logo_box.footer .logo_box_name span:last-child {
  transform: translate(-15%, 7px);
}
.logo_box.footer .logo_box--autor_name {
  color: #1A323B;
  font-weight: 400;
}
.logo_box_name span {
  font-family: "EB Garamond", serif;
  display: inline-block;
  font-weight: 500;
}
.logo_box_name span:first-child {
  transform: translate(10px, -10px);
}
.logo_box_name span:last-child {
  transform: translate(2px, 1px);
}
.logo_box--autor_name {
  font-size: 19px;
}

.navbar {
  padding: 15px 35px;
  z-index: 10;
  background-color: #FFB63B;
}
@media screen and (max-width: 992px) {
  .navbar {
    background-color: #FFB63B;
    background-image: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navbar.home_nav {
  background-color: #FFB63B;
  transition: all 0.3s;
}
.navbar.home_nav.backColor {
  background-color: #fff;
}
.navbar.home_nav .dropdown.show .nav-link {
  color: #FFB63B !important;
}
.navbar.home_nav .dropdown.show .nav-link::before {
  width: 100% !important;
  background-color: #fff !important;
}
@media screen and (max-width: 992px) {
  .navbar.home_nav .dropdown.show .nav-link::before {
    background-color: #fff;
  }
}
.navbar.home_nav .nav-link {
  position: relative;
}
.navbar.home_nav .nav_lang .nav-item.active .nav-link {
  color: #1A323B !important;
}
.navbar.home_nav .nav_lang .nav-item.active .nav-link::before {
  background-color: #fff !important;
}
.navbar .navbar-brand {
  color: #1A323B !important;
  font-size: 25px;
}
.navbar .navbar-toggler {
  background-color: transparent;
  border: 0;
  outline: none;
  width: 37px;
  height: 26px;
  margin-bottom: auto;
  position: relative;
}
.navbar .navbar-toggler[aria-expanded=true] span {
  opacity: 0;
}
.navbar .navbar-toggler[aria-expanded=true]::after {
  bottom: 12px;
  transform: rotate(45deg);
  background-color: #1A323B;
}
.navbar .navbar-toggler[aria-expanded=true]::before {
  top: 12px;
  transform: rotate(-45deg);
  background-color: #1A323B;
}
.navbar .navbar-toggler::after, .navbar .navbar-toggler::before,
.navbar .navbar-toggler span {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s;
}
.navbar .navbar-toggler::before {
  top: 0;
}
.navbar .navbar-toggler::after {
  bottom: 0;
}
.navbar .navbar-toggler span {
  top: calc(50% - 2px);
}
.navbar-collapse {
  margin-left: 50px;
}
@media screen and (max-width: 992px) {
  .navbar-collapse {
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav-item {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .nav-item.show .nav-link {
    color: #FFB63B !important;
  }
}
.nav-item.show .nav-link::before {
  width: 100%;
  background-color: #FFB63B;
}
@media screen and (max-width: 992px) {
  .nav-item.show .nav-link::before {
    background-color: #fff;
  }
}
.nav-item.active-item .nav-link::before {
  width: 100%;
  background-color: #fff;
}
.nav-item .dropdown-menu .dropdown-item:active {
  background-color: #FFB63B !important;
  color: #fff;
}
.nav-item .dropdown-menu .dropdown-item.dropdown-item--active {
  background-color: #FFB63B !important;
  color: #fff;
}
.nav-link {
  color: #1A323B !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin: 0 5px;
  font-size: 18px;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before {
  background-color: #fff;
  width: 100%;
}

.navbar_social {
  height: 43px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar_social .nav-link {
  font-size: 14px;
}

.banner {
  width: 100%;
  min-height: 230px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #FFB63B;
}
@media screen and (max-width: 992px) {
  .banner {
    background-attachment: local;
    background-size: auto 200px;
    background-position: center;
    height: auto;
    min-height: 200px;
  }
}

footer {
  background-color: #1A323B;
  color: #fff;
  padding: 35px;
}
footer ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
footer .nav-link {
  color: #fff !important;
  text-transform: none;
}
footer .social_box a:hover {
  color: #FFB63B;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination .page-item {
  margin: 0 4px 10px 4px;
}
.pagination .page-item:hover .page-link {
  color: #fff;
  background-color: #FFB63B;
}
.pagination .page-item:hover .page-link i {
  color: #fff;
}
.pagination .page-item.active .page-link {
  font-weight: 600;
  background-color: #FFB63B;
  color: #fff;
}
.pagination .page-item .page-link {
  border: 0;
  color: #1A323B;
  font-size: 18px;
  padding: 10px 18px;
  outline: none;
  box-shadow: none;
}
.pagination .page-item .page-link i {
  color: #FFB63B;
}

.card_item {
  position: relative;
  cursor: pointer;
  background: white;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  transition: all 0.1s ease-in;
}
.card_item:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card_item:hover .card_item_img {
  transform: scale(1.03);
}
.card_item_img_box {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.card_item_img_box span {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: #FFB63B;
  color: #fff;
  z-index: 11;
  padding: 3px 10px;
}
.card_item_img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.1s ease-in;
}
.card_item_text_content {
  padding: 0 10px 15px;
}
.card_item_title {
  color: #1A323B;
  margin-top: 15px;
  transition: all 0.1s ease-in;
}
@media screen and (max-width: 992px) {
  .card_item_title {
    font-size: 20px;
  }
}
.card_item_desc {
  color: #1A323B;
  font-family: "Alegreya Sans", sans-serif;
}
.card_item_btn {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;
  border: 1px solid #FFB63B;
  color: #fff;
  background-color: #FFB63B;
  display: inline-block;
  padding: 12px 17px 10px;
  margin-top: 15px;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.painting {
  min-height: calc(100vh - 350px);
}
.painting_title {
  color: #1A323B;
}
.painting .img_box img {
  width: 100%;
}
.painting_text_content p {
  color: #1A323B;
}

.slideshow_btn {
  cursor: pointer;
}

.gallery_slideshow {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000e0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  overflow: hidden;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.gallery_slideshow.gallery_slideshow--show {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
}
.gallery_slideshow--btn {
  position: absolute;
  background-color: #FFB63B;
  color: #fff;
  right: 15px;
  top: 15px;
  font-size: 30px;
  padding: 0 10px;
  z-index: 9;
}
@media screen and (max-width: 992px) {
  .gallery_slideshow--btn {
    font-size: 19px;
  }
}
.gallery_slideshow_box {
  width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .gallery_slideshow_box {
    width: 100vw;
  }
}
.gallery_slideshow_box_content {
  width: 100%;
}
.gallery_slideshow_box_content_item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
}
.gallery_slideshow_box_content_item img {
  max-width: 100% !important;
  max-height: calc(100vh - 40px);
  width: auto !important;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  font-size: 60px;
  background-color: #FFB63B;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  padding: 3px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .slick-arrow {
    font-size: 35px;
    padding: 0 12px;
  }
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoomOutUp {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.contacts_box {
  border: 1px solid;
  border-color: #FFB63B;
  padding: 15px;
}
.contacts_box .form-group label {
  color: #1A323B;
  font-weight: bold;
}
.contacts_box .form-group .form-control {
  outline: 0 !important;
  box-shadow: none;
  border-color: #FFB63B;
  resize: none;
  border-radius: 0;
  background-color: #FFB63B;
}
.contacts_box .btn {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #FFB63B;
  color: #fff;
  background-color: #FFB63B;
  display: inline-block;
  padding: 12px 17px 10px;
  margin-top: 15px;
  letter-spacing: 1px;
  transition: all 0.5s;
  border-radius: 0;
}
.contacts_box .btn:hover {
  background-color: #fff;
  color: #FFB63B;
}

@media screen and (min-width: 768px) {
  .about .banner_about_page {
    height: calc(100vh - 126px);
  }
}
.about.background_color::after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.about .title span {
  background: linear-gradient(to left, #eeee 50%, #fff 50%);
}
.about .img_artist {
  max-width: 450px;
  width: 100%;
}
.about .img_gerb {
  width: 90px;
}
.about p {
  font-size: 22px;
}

.banner_home_title_box {
  overflow: hidden;
  height: 220px;
}
@media screen and (max-width: 500px) {
  .banner_home_title_box {
    height: 100px;
  }
}

.banner_home {
  padding-top: 20px;
  background-color: #FFB63B;
  height: calc(100vh - 51.5px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.banner_home-title {
  font-family: "EB Garamond", serif;
  position: relative;
  font-size: 120px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .banner_home-title {
    font-size: 43px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .banner_home-title {
    font-size: 60px;
  }
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .banner_home-title {
    font-size: 80px;
  }
}
@media screen and (min-width: 801px) and (max-width: 992px) {
  .banner_home-title {
    font-size: 90px;
  }
}
.banner_home-title span {
  position: relative;
  display: inline-block;
  opacity: 1;
}
.banner_home-title span:first-child {
  transition: left 2s;
  transition-timing-function: cubic-bezier(0.59, 0.82, 0.88, 0.09);
  left: -10%;
  transform: translateX(-100%);
}
.banner_home-title span:first-child.animation {
  left: 52%;
}
@media screen and (max-width: 992px) {
  .banner_home-title span:first-child.animation {
    left: 57%;
  }
}
.banner_home-title span:last-child {
  transition: right 2s;
  transition-timing-function: cubic-bezier(0.59, 0.82, 0.88, 0.09);
  transform: translate(100%, 29%);
  right: -10%;
}
.banner_home-title span:last-child.animation {
  right: 44%;
}
@media screen and (max-width: 992px) {
  .banner_home-title span:last-child.animation {
    right: 37%;
  }
}
.banner_home-title span:last-child .autor_name {
  position: absolute;
  transition: opacity 1s;
  transition-timing-function: cubic-bezier(0.59, 0.82, 0.88, 0.09);
  font-size: 15px;
  right: 0;
  transform: none;
  left: 0;
  text-align: left;
  bottom: -17px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  padding-right: 26px;
  color: #1A323B;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  .banner_home-title span:last-child .autor_name {
    width: 150px;
    right: 0;
    left: -40px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .banner_home-title span:last-child .autor_name {
    font-size: 23px;
    bottom: -25px;
    width: 170px;
  }
}
@media screen and (min-width: 701px) {
  .banner_home-title span:last-child .autor_name {
    font-size: 31px;
    width: 220px;
    bottom: -30px;
  }
}
.banner_home-title span:last-child .autor_name strong {
  background-color: #FFB63B;
  padding-right: 10px;
}
.banner_home-title span:last-child .autor_name::after {
  content: "";
  position: absolute;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  background-color: #fff;
  width: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.banner_home-title span:last-child .autor_name.show {
  opacity: 1;
}
.banner_home-title span:last-child .autor_name.show::after {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .row_swiper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1600px) {
  .row_swiper {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.home_gallery {
  opacity: 0;
  transition: opacity 0.3s linear 0.5s;
}
.home_gallery.swiper-initialized {
  opacity: 1;
}
.home_gallery .swiper-slide-active {
  z-index: 9;
}
.home_gallery .swiper-slide-active .home_gallery_item_link .home_gallery_item_link--box {
  height: 65vh;
  width: 100%;
  margin-bottom: -32px;
}
.home_gallery .home_gallery_item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.home_gallery .home_gallery_item.swiper-slide-next .home_gallery_item_link--box {
  position: relative;
  transform: translateX(-5vw);
}
.home_gallery .home_gallery_item.swiper-slide-prev .home_gallery_item_link--box {
  position: relative;
  transform: translateX(5vw);
}
.home_gallery .home_gallery_item_link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: center;
}
.home_gallery .home_gallery_item_link--box {
  height: 50vh;
  width: 90%;
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  margin-bottom: -25px;
}
.home_gallery .home_gallery_item_link--box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 20px 0 #1A323B;
}

.arrows_box {
  height: 0;
  z-index: 9;
  transform: translateY(-20vh);
  opacity: 0;
  transition: opacity 0.3s linear 0.5s;
}
.arrows_box.arrows_ready {
  opacity: 1;
}
.arrows_box .arrows {
  color: #fff;
}
.arrows_box .arrows.swiper-button-prev {
  left: 0;
}
.arrows_box .arrows.swiper-button-next {
  right: 0;
}

.blog.background_color::after {
  clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
}

.slideshow-blog-item {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
