title = "Blog"
url = "/blog-list"
layout = "default"
is_hidden = 0
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1

[slideshows]
sstheme = "artsite"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
{% if false %}
<!-- Banner -->
{% partial 'general/banner' %}
{% endif %}
<!-- Title -->
{% partial 'general/title' title = 'Blog' %}

<div class="container">
    <div class="row">
        {% for post in posts %}
            <div class="col-md-12 mt-5">
                <a href="{{'blog-page'|page({slug: post.slug})}}">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{post.featured_images[0].path}}" alt="{{post.title}}">
                        </div>
                        <div class="col-md-8">
                            <h3>
                                {{post.title}}
                            </h3>
                            <p class="excerpt">{{ post.summary|raw }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
