title = "Gallery"
url = "/gallery-new"
layout = "default"
is_hidden = 0
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1

[slideshows]
sstheme = "artsite"

[catalog]
==
{% if false %}
{% partial 'general/banner' %}
{% endif %}
<div class="container-fluid background_color gallery">
  <div class="container">
    <div class="row">
      {% partial 'general/title' title = 'New Works' %}

    </div>
    <div class="row">
      {% for product in catalog.getProducts %}
      {% if product.new_work != 0 %}
      {% partial 'gallery/item' product = product %}
      {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

{% partial 'gallery/js_lazy' %}
