title = "Gallery"
url = "/gallery"
layout = "default"

[slideshows]
sstheme = "artsite"

[catalog]
==

{% partial 'general/banner' %}

<div class="container mt-5">
    <div class="row">
        {% partial 'general/title' title = 'Gallery' %}
       
    </div>
    <div class="row">
        {% for product in catalog.getProducts %}
            {% if product.new_work != 1 %}
                {% partial 'gallery/item' product = product %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% put scripts %}
    <script>
        $('.gallery_slideshow_box_content').slick({
            dots: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });

        if (document.querySelector('.slick-prev')) {
            document.querySelectorAll('.gallery_slideshow_box_content').forEach((el, indx) => {
                document.querySelectorAll('.slick-prev')[indx].innerHTML = '<i class="fa fa-angle-left" aria-hidden="true"></i>';
                document.querySelectorAll('.slick-next')[indx].innerHTML = '<i class="fa fa-angle-right" aria-hidden="true"></i>';
            });
        }
    </script>
{% endput %}

{% partial 'gallery/js_lazy' %}