<div class="container about mt-5">
    <div class="row">
        {% partial 'general/title' title = 'Edward Iov' %}

        <div class="col-md-4 about_image_box img_box_scale">
            <img class="w-100" src=" {{'assets/img/about/artist.jpeg'|theme}}" alt="Artist Image">
        </div>
        <div class="col-md-8 mt-4 mt-md-0 about_text_box">
            <p>
                {{'Test Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus accusamus quibusdam dolorum voluptate animi et'|_}}
            </p>
            <a class="g-btn" href="{{'about-artist'|page}}">
                <span>
                    More
                </span>
            </a>
        </div>
    </div>
</div>