<div class="containet-fluid background_color about">
    <div class="container">
        <div class="row">
            {% partial 'general/title' title = 'Edward Yov' %}

            <div class="col-md-6 img_box_scale">
                <img class="w-100 pr-5" src=" {{'assets/img/about/artist.jpeg'|theme}}" alt="Artist Image">
            </div>
            <div class="col-md-6 d-flex align-items-start flex-column justify-content-center px-5">
                <p>
                    {{'Edward Yov is a Moldovan artist. He was born in 1975 in the city of Balti in the north of Moldova.'|_}}
                </p>
                <a class="g-btn" href="{{'about-artist'|page}}">
                    <span>
                        About Artist
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
