==
<div class="container-fluid banner_home">
    {# Title #}
    <div class="row">
        <div class="col-12 banner_home_title_box">
            <h1 class="banner_home-title d-flex justify-content-between">
        <span>
          Gemios
        </span>
                <span>
          Art
          <span class="autor_name">
            <strong>by </strong> Edward Yov
          </span>
        </span>
            </h1>
        </div>
    </div>
    {# Slider #}
    {# Slider main container #}
    <div class="row row_swiper mt-auto">
        <div class="col-12 swiper home_gallery">
            <div class="swiper-wrapper">
                {% for product in catalog.getProducts %}
                {% if product.featured != 0 %}
                <div class="swiper-slide home_gallery_item">
                    <a class="home_gallery_item_link" href="{{'painting'|page({id: product.id})}}">
                        <div class="home_gallery_item_link--box">
                            <img src="{{ product.attachments[0].path|resize(250, 250, { mode: 'crop', quality: '80', extension: 'webp' }) }}"
                                 alt="" class="swiper-lazy home_gallery_item_img">
                        </div>
                        <h3 class="home_gallery_item_title mt-2 d-none">
                            {{product.title}}
                        </h3>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 arrows_box">
            {# If we need navigation buttons #}
            <div class="arrows swiper-button-prev"></div>
            <div class="arrows swiper-button-next"></div>
        </div>
    </div>
</div>

{% put scripts %}
<script>
    window.onload = function () {
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            slidesPerView: 3,
            spaceBetween: 0,
            centeredSlides: true,
            loop: true,
            allowTouchMove: false,

            breakpoints: {
                // when window width is >= 320px
                320: {
                    slidesPerView: 1,
                    spaceBetween: -20
                },
                // when window width is >= 320px
                700: {
                    slidesPerView: 3,
                    spaceBetween: 0
                },
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        const arrowsSwiper = document.querySelector('.arrows_box');
        const swiperReady = document.querySelector('.home_gallery');
        if (swiperReady.classList.contains('swiper-initialized')) {
            arrowsSwiper.classList.add('arrows_ready');
        }

        const title = document.querySelectorAll('.banner_home-title');
        title[0].children[0].classList.add('animation');
        title[0].children[1].classList.add('animation');

        const autorTitle = document.querySelector('.autor_name');
        setTimeout(() => {
            autorTitle.classList.add('show');
        }, "3000")

    };
</script>
{% endput %}
